body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    position: relative;
    width: 240px;
    height: 320px;
    border: 1px black solid;
}
.egg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size:cover;
}
.red{
    background-image: url("img/egg_red.png"); 
}
.green{
    background-image: url("img/egg_green.png"); 
}
.blue{
    background-image: url("img/egg_blue.png");
}
.yellow{
    background-image: url("img/egg_yellow.png");
}
.destroy{
    background-color: red;
}
.fall{
    background-color: rgb(21, 0, 255);
}